:root {
    --main_color: dodgerblue;
}
#select-wine{
    text-align: center;
}
#main-page{
    width: 1000px;
    margin: 0 auto;
    border: 3px solid var(--main_color);
    box-shadow: 10px 10px 5px grey;
    /* background: #f2ebec; */
    background: seashell;
    /* background: lightcyan; */
}
#page-content{
    /* width: 500px; */
    height: 100%;
}
#subject{
    color: var(--main_color);
    margin-right: 10px;
    margin-top: 10px;
    text-align: right;
    /* box-shadow: 10px 10px 5px grey; */
}
#header{
    background-color:var(--main_color);
    font-size: 25px;
    font-weight: bold;
    color: white;
    text-align: center;
    padding: 30px;
    margin: 50px;
    margin-top:10px;
    box-shadow: 10px 10px 5px grey;
}
#tab-bar{
    text-align: center;
    padding-bottom: 30px;
}
#good-wine-explain{
    height: 600px;
}
.board{
    /* background: #ffffff; */
    /* background: lightcyan; */
    background: white;
    
    border-radius: 10px;
    /* width: 90%; */
    /* margin-top: 10px;
    margin-bottom: 10px;
    margin-left: 20px; */
    margin: 20px;
    padding: 10px;
    /* border: 2px; */
    /* border-style: solid; */
    box-shadow: 10px 10px 5px grey;
}
.tab{
    padding: 10px;
    display: inline;
    border: 0;
    border-right: 4px;
    border-style: solid;
    border-color: var(--main_color);
}
.heading{
    padding: 10px;
    /* display: inline; */
    border: 0;
    font-size: 20px;
    font-weight: bold;
    border-left: 20px;
    border-style: solid;
    border-color: var(--main_color);
    margin-bottom: 5px;
}

.tab a{
    text-decoration: none;
    color: var(--main_color);
}
table{
    table-layout: fixed;
}
#color-section{
    display: inline-block;
    height: 500px;
}
#color-section .left{
    float: left;
    vertical-align: middle;
}
#color-section .right{
    display: inline-block;
    width: 500px;
    height: 500px;
    border-width: 1px;
    border-style: solid;
}
